*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
    color: rgb(51, 51, 51);

}

.header{
    background-color: rgb(31, 31, 32);
    color: rgb(146, 146, 146);
    padding: 1rem;
}

.header h4{
    margin-left: 55px;
}

.main{
    background-color: white;
    max-width: 500px;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 8px;
}

.form{
    margin-bottom: 1.5rem;
}


.form label{
    display: block;
    font-weight: 200;
    font-size: 45px;
    margin-bottom: 0.5rem;
    margin-right: 100px;
}

.input_block{
    display: flex;
    gap: 0.5rem;
}
.input_block input{
    background-color: white;
    flex: 1;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 4px;

}
.input_block input:hover{
    border-color: rgb(17, 144, 218);
}

.input_block input:focus{
    outline: none;
    border-color: rgb(17, 144, 218);;
}

.input_block button{
    background-color: rgb(11, 119, 182);
    border-style: none;
    border-radius: 5px;
    font-size: 1rem;
    color:white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.input_block button:hover{
    background-color: rgb(28, 139, 204);
}

.list{
    list-style: none;
}


.tasks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 15px 15px;
    border: 1px solid rgb(221, 221, 221);
}

.list_section{
    display: flex;
    flex: 1;
    min-width: 0;
    align-items: center;
    gap: 15px;
}

.text{
    flex: 1;
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    max-width: 100%;
    align-items: center;
    min-height: 24px;
}

.text.done{
    text-decoration: line-through;
    color: rgb(136, 136, 136);
}

.delete{
    background-color: red;
    color: white;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 12px;
    margin-left: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
}
.delete:hover{
    background-color: rgb(252, 118, 118);
}



