.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.photo-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: 0.2s;
}

.photo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.photo-card img {
  width: 100%;
  border-radius: 6px;
}

.photo-card p {
  font-size: 14px;
  margin-top: 8px;
}

.backbtn{
    margin-top:20pt;
}