nav {
  display: flex;
  gap: 25px;
  padding: 15px 30px;
  background-color: #1e293b;
}

nav a {
  color: #e2e8f0;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

nav a:hover {
  color: #38bdf8;
}

.active {
  border-bottom: 2px solid #38bdf8;
  padding-bottom: 4px;
}