h1{
    text-align: center;
    font-size: 2.5rem; 
    margin-top: 24px;
    margin-bottom: 16px;
    color: black;
}
p{
    text-align: center;
}

.categories {
    display: flex;    
    justify-content: center;
    gap: 12px;           
    padding: 16px 0;      
    flex-wrap: wrap;         
}

.categories button {
    padding: 10px 20px;  
    border: none; 
    border-radius: 20px;  
    cursor: pointer;  
    background-color: #eee; 
    font-weight: 500; 
    color: #333; 
    transition: background-color 0.3s;
}

.categories button:hover {
    background-color: #ccc;
    transform: scale(1.05); 
}

.categories button.active {
    background-color: #888;   
    color: #fff;              
}