
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    text-decoration: none;
}

.products_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
    text-align: center;
}

.product_card {
  height: 100%;   
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}

.product_card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.product_card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
}

.product_card a {
    color: black;
    text-decoration: none;
    cursor: default;
}

.product_card a:hover {
    text-decoration: none;
}

.share_buttons button {
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

.whatsapp_share {
    background-color: rgb(137, 255, 104);
    padding: 6px 10px;
    margin: 4px;
}

.telegram_share {
    background-color: rgb(115, 190, 255);
    padding: 6px 13px;
    margin: 4px;
}

.whatsapp_share:hover {
    background-color: rgb(94, 206, 63);
}

.telegram_share:hover {
    background-color: rgb(68, 164, 248);
}

.buttons button {
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

.delete{
    background-color: rgb(255, 134, 123);
    padding: 6px 13px;
    margin: 4px;
}
.delete:hover{
    background-color: rgb(229, 5, 5);
}
.like{
    background-color: rgb(255, 248, 121);
    padding: 6px 13px;
    margin: 4px;
}
.like:hover{
    background-color: rgb(221, 210, 12);
}

@media (max-width: 900px) {
    .products_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .products_grid {
        grid-template-columns: 1fr;
    }
}