h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.container { 
    text-align: center; 
    margin-top: 50px; 
}

button{
    margin: 5px;
}
.btn { 
    padding: 12px 17px;
    background: #007bff;
    color: white; 
    border-radius: 5px; 
    text-decoration: none; 
}